.nav-header__title {
    color: #3e3e3e !important;
    font-size: 0.85rem;
    font-weight: 500;
    left: 0;
    margin: 0 !important;
    padding: 0px 50px 0px 50px !important;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    z-index: 0;
}

.h2Style{
    color: #3e3e3e !important;
    font-size: 0.900rem !important;
    line-height: 0.975rem !important;
    margin-top: 12px;
    font-weight: 500 !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.textStyle{
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    transition: color ease-out 0.2s;
    margin: 5px 0 0 5px;
    font-size: 0.75rem;
    color: #717171;
}

.flex-box {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.container-box {
    margin: 5px;
    background-color: #f7f7f7;
    height: 28px;
    border-radius: 5px;
}

.rightText{
    font-size: 0.90rem; 
    font-weight: 600; 
    margin-right: 10px;
}