.nav-header__title {
    color: #3e3e3e !important;
    font-size: 0.85rem;
    font-weight: 600;
    left: 0;
    margin: 0px !important;
    padding: 0px 50px 0px 50px !important;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    z-index: 0;
}

.h1Style{
    margin-left: 10px;
    color: black !important;
    font-size: 0.990rem !important;
    line-height: 0.975rem !important;
    margin-top: 10px;
    font-weight: 700 !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.h2Style{
    color: #3e3e3e !important;
    font-size: 0.900rem !important;
    line-height: 0.975rem !important;
    margin-top: 2px;
    font-weight: 500 !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.textBody{
    margin-left: 10px;
    color: #3e3e3e !important;
    font-size: 0.900rem !important;
    line-height: 0.975rem !important;
    margin-top: 2px;
    font-weight: 500 !important;
}