
.titleStyle{
    color: #474b4b !important;
    font-size: 0.950rem !important;
    line-height: 0.975rem !important;
    margin-top: 2px;
    font-weight: 600 !important;
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    margin-left: 10px;
    font-family: inherit;
}

.textBody{
    font-family: inherit;
    margin-left: 10px;
    color: #474b4b !important;
    font-size: 0.800rem !important;
    line-height: 0.975rem !important;
    margin-top: 2px;
    font-weight: 500 !important;
}

.iconSize{
    height: 15px !important;
}