<ion-content [fullscreen]="true">
  <ion-item  button >
    <ion-avatar slot="start">
      <img src="assets/images/profile.png">
    </ion-avatar>
    <ion-label style="height: 30px;">
      <ion-text>
        <h2 style="font-weight: 700 !important; font-family: inherit !important;">Gabriele Guedes</h2>
      </ion-text>
    </ion-label>
  </ion-item>

  <ion-item button style="height: 70px;">
    <ion-icon name="chatbox-ellipses-outline"></ion-icon>
    <ion-label>
      <ion-text>
        <h2 class="titleStyle">Chats</h2>
        <p class="textBody">Minhas Conversas</p>
      </ion-text>
    </ion-label>
    <ion-icon class="iconSize" name="chevron-forward-sharp"></ion-icon>
  </ion-item>

  <ion-item button style="height: 70px;">
    <ion-icon name="notifications-outline"></ion-icon>
    <ion-label>
      <ion-text>
        <h2 class="titleStyle">Notificações</h2>
        <p class="textBody">Minha central de notificações</p>
      </ion-text>
    </ion-label>
    <ion-icon class="iconSize" name="chevron-forward-sharp"></ion-icon>
  </ion-item>
  
  <ion-item button style="height: 70px;">
    <ion-icon name="wallet-outline"></ion-icon>
    <ion-label>
      <ion-text>
        <h2 class="titleStyle">Carteira</h2>
        <p class="textBody">Meu saldo e QR Code</p>
      </ion-text>
    </ion-label>
    <ion-icon class="iconSize" name="chevron-forward-sharp"></ion-icon>
  </ion-item>
  
  <ion-item button style="height: 70px;">
    <ion-icon name="ribbon-outline"></ion-icon>
    <ion-label>
      <ion-text>
        <h2 class="titleStyle">Club iFood</h2>
        <p class="textBody">Meus pacotes de desconto</p>
      </ion-text>
    </ion-label>
    <ion-icon class="iconSize" name="chevron-forward-sharp"></ion-icon>
  </ion-item>
  
  <ion-item button style="height: 70px;">
    <ion-icon name="ticket-outline"></ion-icon>
    <ion-label>
      <ion-text>
        <h2 class="titleStyle">Cupons</h2>
        <p class="textBody">Meus cupons de desconto</p>
      </ion-text>
    </ion-label>
    <ion-icon class="iconSize" name="chevron-forward-sharp"></ion-icon>
  </ion-item>
  
  <ion-item button style="height: 70px;">
    <ion-icon name="star-outline"></ion-icon>
    <ion-label>
      <ion-text>
        <h2 class="titleStyle">Fidelidade</h2>
        <p class="textBody">Minhas fidelidades</p>
      </ion-text>
    </ion-label>
    <ion-icon class="iconSize" name="chevron-forward-sharp"></ion-icon>
  </ion-item>
  
  <ion-item button style="height: 70px;">
    <ion-icon name="card-outline"></ion-icon>
    <ion-label>
      <ion-text>
        <h2 class="titleStyle">Favoritos</h2>
        <p class="textBody">Meus locais favoritos</p>
      </ion-text>
    </ion-label>
    <ion-icon class="iconSize" name="chevron-forward-sharp"></ion-icon>
  </ion-item>
  
  <ion-item button style="height: 70px;">
    <ion-icon name="heart-outline"></ion-icon>
    <ion-label>
      <ion-text>
        <h2 class="titleStyle">Formas de pagamento</h2>
        <p class="textBody">Minhas formas de pagamento</p>
      </ion-text>
    </ion-label>
    <ion-icon class="iconSize" name="chevron-forward-sharp"></ion-icon>
  </ion-item>
  
  <ion-item button style="height: 70px;">
    <ion-icon name="location-outline"></ion-icon>
    <ion-label>
      <ion-text>
        <h2 class="titleStyle">Endereços</h2>
        <p class="textBody">Meus endereços de entrega</p>
      </ion-text>
    </ion-label>
    <ion-icon class="iconSize" name="chevron-forward-sharp"></ion-icon>
  </ion-item>
  
  <ion-item button style="height: 70px;">
    <ion-icon name="reader-outline"></ion-icon>
    <ion-label>
      <ion-text>
        <h2 class="titleStyle">Meus dados</h2>
        <p class="textBody">Minhas informações de conta</p>
      </ion-text>
    </ion-label>
    <ion-icon class="iconSize" name="chevron-forward-sharp"></ion-icon>
  </ion-item>
 
</ion-content>